<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    {{{_sections.css}}}
  </head>
  <body>
    {{{body}}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/lib/bootbox/bootbox.min.js"></script>
    {{{_sections.javascript}}}
  </body>
</html>
